<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="myApp">

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/angucomplete/angucomplete.css" />
  <link rel="stylesheet" href="/bower_components/toastr/toastr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link href="/bower_components/angular-tooltips/dist/angular-tooltips.min.css" rel="stylesheet" type="text/css" />
  <!-- SPELLS -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angucomplete/angucomplete.js"></script>
  <script src="/bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
  <script src="/bower_components/toastr/toastr.js"></script>
  <script src="/bower_components/angular-smart-table/dist/smart-table.js"></script>
  <script src="/bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script> 
  <script src="/currencycompare/index.js"></script>
  <script src="/bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
</head>

<style>
.table{
  margin-top: 30px
}
table tr th {
  align:center;
}
table tr td {
    text-align: right;
}
 .modalTable {
     text-align: center;
     max-height: 60%;
     overflow: auto;
 }
 .modalTable tbody,.modalTable thead{
     display: block;
 }
.modalTable tbody{
    height:700px;
    overflow-y: auto;
    overflow-x: hidden;
}
.fa {
    padding: 5px;

}

</style>

<!-- define angular controller -->
<body ng-controller="mainController">
    <div class="container">
        <div class="row">
            <h3 align="center">Currency Comparison</h3>
        </div>
        <form class="form-inline" id= "header">
            <div class="form-group">
                <label>Select Currencies :</label>
                <span ng-dropdown-multiselect="" search-filter="customFilter" options="currencydata" selected-model="currencymodel" extra-settings="currencysettings">{{currencymodel}}</span>
            </div>
            <div class="form-group">
                <label>Parameters :</label>
                <span ng-dropdown-multiselect="" options="paramsdata" selected-model="paramsmodel" extra-settings="paramssettings"></span>
            </div>
            <button type="submit" ng-click="getData(); startSpin();" class="btn btn-default">Submit</button>
            <span us-spinner= "{radius:12,length:20, width:3, length: 16}" spinner-key="spinner-1" ></span>
        </form>
        <div class="row">
          <table st-table="currency" st-safe-src="rowCollection" class="table table-striped table-bordered" ng-show="currency.length > 0">
            <tr style="cursor: pointer;">
                <th st-sort="currency" title="CurrencyPair" ng-show="currency[0].currency">Currency</th>
                <th st-sort="BTCPrice" title="Bitcoin Price" ng-show="currency[0].BTCPrice">BTC Price</th>
                <th st-sort="USDPrice" title="USD Price" ng-show="currency[0].USDPrice">USD Price</th>
                <th st-sort="TotalSupply" title="Total Supply of currency" ng-show="currency[0].TotalSupply">TotalSupply</th>
                <th st-sort="CirculatingSupply" title="Circulating Supply of currency" ng-show="currency[0].CirculatingSupply">CirculatingSupply</th>
                <th st-sort="noOfExchange" title="Number of exchnage Currency Listed" ng-show="currency[0].noOfExchange">NoOfExchange</th>
                <th st-sort="Volume24hrBTC" title="24hr Volume in BTC" ng-show="currency[0].Volume24hrBTC">Volume24hrBTC</th>
                <th st-sort="MarketCapBTC" title="Market Cap in BTC" ng-show="currency[0].MarketCapBTC">MarketCapBTC</th>
                <th st-sort="Volume24hrUSD" title="24hr Volume in USD" ng-show="currency[0].Volume24hrUSD">Volume24hrUSD</th>
                <th st-sort="MarketCapUSD" title="Market Cap in USD" ng-show="currency[0].MarketCapUSD">MarketCapUSD</th>
                <th st-sort="BTCRatio" title="Volume/Marketcap" ng-show="currency[0].BTCRatio">Volume/Marketcap (BTC)</th>
                <th st-sort="USDRatio" title="Volume/Marketcap" ng-show="currency[0].USDRatio">Volume/Marketcap (USD)</th>
                <th st-sort="socialStats" title="Social Stats" ng-show="currency[0].socialStats">Social Stats</th>
                <th st-sort="githubStats" title="Github Stats" ng-show="currency[0].githubStats">GitHub Stats</th>

            </tr>
            <tr ng-repeat="item in currency">
                <td><a ng-href="{{item.link}}" target= "_blank">{{item.currency}}</a></td>
                <td ng-show="item.BTCPrice"><a ng-href="{{item.coinMCapLink}}" target= "_blank">{{item.BTCPrice}}</a></td>
                <td ng-show="item.USDPrice">{{item.USDPrice}}</td>
                <td ng-show="item.TotalSupply">{{item.TotalSupply}}</td>
                <td ng-show="item.CirculatingSupply">{{item.CirculatingSupply}}</td>
                <td ng-show="item.noOfExchange"><a ng-href= "#" ng-click="getExchangeList(item);">{{item.noOfExchange}}</a></td>
                <td ng-show="item.Volume24hrBTC">{{item.Volume24hrBTC}}</td>
                <td ng-show="item.MarketCapBTC">{{item.MarketCapBTC}}</td>
                <td ng-show="item.Volume24hrUSD">{{item.Volume24hrUSD}}</td>
                <td ng-show="item.MarketCapUSD">{{item.MarketCapUSD}}</td>
                <td ng-show="item.BTCRatio">{{item.BTCRatio | number: 4}}</td>
                <td ng-show="item.USDRatio">{{item.USDRatio | number: 4}}</td>
                <td ng-show="item.socialStats">
                    <span class = "socialstats"  data-toggle="tooltip" data-placement="bottom" title="FB Likes">
                    <i class="fa fa-facebook"></i>{{item.socialStats.fbLikes}}</span>
                    <span class = "socialstats"  data-toggle="tooltip" data-placement="bottom" title="Twitter Followers">
                    <i class="fa fa-twitter"></i>{{item.socialStats.twitterFollowers}}</span>
                    <span class = "socialstats"  data-toggle="tooltip" data-placement="bottom" title="Reddit Subscribers">
                    <i class="fa fa-reddit"></i>{{item.socialStats.redditSubscribers}}</span>
                </td>
                <td ng-show="item.githubStats">
                    <span class = "githubstats"  data-toggle="tooltip" data-placement="bottom" title="Forks">
                    <i class="fa fa-code-fork"></i>{{item.githubStats.forks}}</span>
                    <span class = "githubstats"  data-toggle="tooltip" data-placement="bottom" title="Stars">
                    <i class="fa fa-star"></i>{{item.githubStats.stars}}</span>
                    <span class = "githubstats"  data-toggle="tooltip" data-placement="bottom" title="Watchers">
                    <i class="fa fa-eye"></i>{{item.githubStats.watchers}}</span>
                </td>
            </tr>
          </table>

        </div>
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Exchange List</h4>
        </div>
        <div class="modal-body">
            <div class="row modalTable">
                <div class="col-sm-4 col-sm-offset-2">
                    <table>
                        <thead>
                        <tr>
                            <th>Listed Exchange</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="exchangeName in listed">
                                <td>{{exchangeName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <table class="two">
                        <thead>
                            <tr>
                                <th>NotListed Exchange</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="exchangeName2 in notListed">
                            <td>{{exchangeName2}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
      </div>
    </div>
     </div>
</div>
</body>

</html>
