<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="myApp">

<head>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/angucomplete/angucomplete.css" />
  <link rel="stylesheet" href="/bower_components/toastr/toastr.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <!-- SPELLS -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angucomplete/angucomplete.js"></script>
  <script src="/bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
  <script src="/bower_components/toastr/toastr.js"></script>
  <script src="/bower_components/angular-smart-table/dist/smart-table.js"></script>
  <script src="/bower_components/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script> 
  <script src="/currencycompare/index.js"></script>
</head>

<style>
.table{
  margin-top: 30px
}
</style>

<!-- define angular controller -->
<body ng-controller="mainController">
    <div class="container">
        <div class="row">
            <h3 align="center">Currency Comparison</h3>
        </div>
        <form class="form-inline" id= "header">
            <div class="form-group">
                <label for="email">Select Currencies :</label>
                <span ng-dropdown-multiselect="" search-filter="customFilter" options="currencydata" selected-model="currencymodel" extra-settings="currencysettings">{{currencymodel}}</span>
            </div>
            <div class="form-group">
                <label for="pwd">Parameters :</label>
                <span ng-dropdown-multiselect="" options="paramsdata" selected-model="paramsmodel" extra-settings="paramssettings"></span>
            </div>
            <button type="submit" ng-click="getData(); startSpin();" class="btn btn-default">Submit</button>
            <span us-spinner= "{radius:12,length:20, width:3, length: 16}" spinner-key="spinner-1" ></span>
        </form>
        <div class="row">
          <table st-table="currency" st-safe-src="rowCollection" class="table table-striped table-bordered" ng-show="currency.length > 0">
            <tr style="cursor: pointer;">
              <th st-sort="currency" ng-show="currency[0].currency">Currency</th>
              <th st-sort="BTCPrice" ng-show="currency[0].BTCPrice">BTC Price</th>
              <th st-sort="USDPrice" ng-show="currency[0].USDPrice">USD Price</th>
              <th st-sort="TotalSupply" ng-show="currency[0].TotalSupply">TotalSupply</th>
              <th st-sort="noOfExchange" ng-show="currency[0].noOfExchange">NoOfExchange</th>
              <th st-sort="Volume24hrBTC" ng-show="currency[0].Volume24hrBTC">Volume24hrBTC</th>
              <th st-sort="MarketCapBTC" ng-show="currency[0].MarketCapBTC">MarketCapBTC</th>
              <th st-sort="Volume24hrUSD" ng-show="currency[0].Volume24hrUSD">Volume24hrUSD</th>
              <th st-sort="exchangeList" ng-show="currency[0].exchangeList">Exchange List</th>
            </tr>
            <tr ng-repeat="item in currency"">
              <td><a ng-href="{{item.link}}" target= "_blank">{{item.currency}}</a></td>
              <td ng-show="item.BTCPrice"><a ng-href="{{item.coinMCapLink}}" target= "_blank">{{item.BTCPrice}}</a></td>
              <td ng-show="item.USDPrice">{{item.USDPrice}}</td>
              <td ng-show="item.TotalSupply">{{item.TotalSupply}}</td>
              <td ng-show="item.noOfExchange">{{item.noOfExchange}}</td>
              <td ng-show="item.Volume24hrBTC">{{item.Volume24hrBTC}}</td>
              <td ng-show="item.MarketCapBTC">{{item.MarketCapBTC}}</td>
              <td ng-show="item.Volume24hrUSD">{{item.Volume24hrUSD}}</td>
              <td ng-show="item.exchangeList">{{item.exchangeList}}</td>
            </tr>
          </table>

        </div>
    </div>
</body>

</html>
